[submodule "/home/ranvie/Desktop/recent/mew/web-app/front-end/nextjs"]
	path = /home/ranvie/Desktop/recent/mew/web-app/front-end/nextjs
	url = https://github.com/Ranviee0/frontend-cloudProj
[submodule "web-app/front-end/nextjs"]
	path = web-app/front-end/nextjs
	url = https://github.com/Ranviee0/frontend-cloudProj
